@model IEnumerable<AllContactsViewModel>;
@{
    ViewBag.Title = "Всички въведени магазини";
}

<h2 class="text-center">@ViewBag.Title: @Model.Count()</h2>
<hr />

<div class="text-center row">
    @if (ViewBag.Message != null)
    {
        <p class="error">@ViewBag.Message</p>
    }

    @foreach (var e in Model)
    {
        <div class="card col-4">
            <div class="card-body">
                <img class="card-img-top" style="width: 100%; margin-top: 10px;"
                     src="@e.ImageUrl" alt="Contact Image" width="200" height="200">
                <h5 class="card-title mt-1">@e.Name</h5>
                <p class="mb-0"><span class="fw-bold">Адрес: </span>@e.Address</p>
                <p class="mb-0"><span class="fw-bold">Телефон: </span>@e.Phone</p>
            </div>
                <a asp-controller="Contact" asp-action="Edit" asp-route-id="@e.Id" class="btn btn-success mb-2 w-100 p-3 fw-bold">Редактиране</a>
                <a asp-controller="Contact" asp-action="Delete" asp-route-id="@e.Id" class="btn btn-danger mb-2 w-100 p-3 fw-bold"
                    onclick="return confirm('Сигурни ли сте че искате да изтриете контакт за магазин: @e.Name')">Изтриване</a>
        </div>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}