@model WoodWorking.Models.FinishedOrderViewModel

@{
    ViewData["Title"] = "Поръчка";
    var isExpress = Model.IsExpress ? "Да" : "Не";
    string date = Model.CreatedDate.ToString();
    date = date.Substring(0, date.Length - 3);
}

<h1 class="text-center">Поръчка @Model.Id от @date ч.</h1>

<hr />

<div id="left-container">
    <div>Име на клиента: @Model.ClientName</div>
    <div>Номер на клиента: @Model.ClientPhone</div>
    <div>Експресна поръчка: @isExpress</div>
    <div>Цена на материалите: @Model.MaterialPrice</div>
    <div>Цена на кантирането: @Model.EdgePrice</div>
    <div>Крайна цена: @Model.TotalPrice</div>
</div>

<div id="right-container">
	<img src="~/img/logo.png" />
    <div>@Model.ContactName</div>
    <div>@Model.ContactAddress</div>
    <div>@Model.ContactPhone</div>
</div>

<br />

<table class="table table-condensed table-hover border">
    <thead>
        <tr>
            <th rowspan="2" style="min-width: 200px;">Материали</th>
            <th rowspan="2" style="min-width: 60px;">Цена</th>
            <th rowspan="2" style="min-width: 85px;">Дължина, m</th>
            <th rowspan="2" style="min-width: 85px;">Широчина, m</th>
            <th rowspan="2" style="min-width: 60px;">Бр</th>
            <th rowspan="2" style="min-width: 80px;">Квадратура</th>
            <th rowspan="2">Цена на материала, лв </th>
            <th colspan="8" style="min-width: 180px;">Кантиране</th>
            <th rowspan="2">Цена на кантирането, лв</th>
        </tr>
        <tr>
            <th style="min-width: 40px;">H</th>
            <th style="min-width: 40px;">цена</th>
            <th style="min-width: 40px;">H</th>
            <th style="min-width: 40px;">цена</th>
            <th style="min-width: 40px;">L</th>
            <th style="min-width: 40px;">цена</th>
            <th style="min-width: 40px;">L</th>
            <th style="min-width: 40px;">цена</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var material in Model.OrderedMaterials)
        {
            <tr>
                <td>
                    <div class="form-group">
                        @material.MaterialName
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        @material.MaterialPrice
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        @material.MaterialLength
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        @material.MaterialHeight
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        @material.MaterialQty
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        @material.MaterialQuadrature
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        @material.MaterialEdgeTotalPrice
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        @material.MaterialEdgeH1
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        @material.MaterialEdgeH1Price
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        @material.MaterialEdgeH2
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        @material.MaterialEdgeH2Price
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        @material.MaterialEdgeL1
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        @material.MaterialEdgeL1Price
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        @material.MaterialEdgeL2
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        @material.MaterialEdgeL2Price
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        @material.MaterialEdgeTotalPrice
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="float-container">

    <div class="float-child">
        <div class="green">Материали</div>
    </div>

    <div class="float-child">
        <div class="blue">Кантове</div>
    </div>

</div>

<div id="barcode-container">
    <div style="float:left; padding-right: 80px">
        <ol>
            @for (int i = 0; i < ViewBag.MaterialBarcodes.Count; i++)
            {
                <li style="padding: 20px;"><img src="@ViewBag.MaterialBarcodes[i]" /></li>

                if (i >= 5)
                    break;
            }
        </ol>
    </div>

    <div style="float:left;">
        <ol start="7">
            @if (ViewBag.MaterialBarcodes.Count > 6)
            {
                @for (int i = 6; i < ViewBag.MaterialBarcodes.Count; i++)
                {
                    <li style="padding: 20px;"><img src="@ViewBag.MaterialBarcodes[i]" /></li>
                }
            }
        </ol>
    </div>

    <div style="float:right; padding-left:80px;">
        <ol start="7">
            <li style="padding: 20px;"><img src="~/barcodes/c8a24b80-b75e-4d7c-b7cb-1baa114dba35/1.jpg" /></li>
            <li style="padding: 20px;"><img src="~/barcodes/c8a24b80-b75e-4d7c-b7cb-1baa114dba35/1.jpg" /></li>
            <li style="padding: 20px;"><img src="~/barcodes/c8a24b80-b75e-4d7c-b7cb-1baa114dba35/1.jpg" /></li>
            <li style="padding: 20px;"><img src="~/barcodes/c8a24b80-b75e-4d7c-b7cb-1baa114dba35/1.jpg" /></li>
            <li style="padding: 20px;"><img src="~/barcodes/c8a24b80-b75e-4d7c-b7cb-1baa114dba35/1.jpg" /></li>
            <li style="padding: 20px;"><img src="~/barcodes/c8a24b80-b75e-4d7c-b7cb-1baa114dba35/1.jpg" /></li>
        </ol>
    </div>
    <div style="float:right;">
        <ol>
            <li style="padding: 20px;"><img src="~/barcodes/c8a24b80-b75e-4d7c-b7cb-1baa114dba35/1.jpg" /></li>
            <li style="padding: 20px;"><img src="~/barcodes/c8a24b80-b75e-4d7c-b7cb-1baa114dba35/1.jpg" /></li>
            <li style="padding: 20px;"><img src="~/barcodes/c8a24b80-b75e-4d7c-b7cb-1baa114dba35/1.jpg" /></li>
            <li style="padding: 20px;"><img src="~/barcodes/c8a24b80-b75e-4d7c-b7cb-1baa114dba35/1.jpg" /></li>
            <li style="padding: 20px;"><img src="~/barcodes/c8a24b80-b75e-4d7c-b7cb-1baa114dba35/1.jpg" /></li>
            <li style="padding: 20px;"><img src="~/barcodes/c8a24b80-b75e-4d7c-b7cb-1baa114dba35/1.jpg" /></li>
        </ol>
    </div>
</div>

