@model WoodWorking.Models.OrderViewModel

@{
    ViewData["Title"] = "Нова поръчка";
}

<h1 class="text-center">Нова поръчка</h1>

<hr />
<div class="container">    
    <form asp-action="New" method="post">        
        <div class="form-group">
            <label asp-for="ClientName" class="control-label" style="font-weight: bold;">Име на клиента:</label>
            <input asp-for="ClientName" class="form-control" style="max-width:350px" />
            <span asp-validation-for="ClientName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ClientPhone" class="control-label" style="font-weight: bold;">Телефонен номер:</label>
            <input asp-for="ClientPhone" class="form-control" style="max-width:350px;" />
            <span asp-validation-for="ClientPhone" class="text-danger"></span>
        </div>
        <br />

        <div class="form-group form-check">
            <label class="form-check-label" style="font-weight: bold;">
                <input class="form-check-input" asp-for="IsExpress" style="padding: 15px; margin-right: 10px;" onchange="calculateTotalPrice();" />Експресна поръчка +25%
            </label>
        </div>
        <br />

        <div class="prices" style="font-weight: bold;">
            <div class="form-group">
                Цена за материалите: <input asp-for="MaterialPrice" class="prices-fields" disabled="disabled" style="margin-left: 46px;" /> лв.
            </div>

            <div class="form-group" >
                Цена за кантиране: <input asp-for="EdgePrice" class="prices-fields" disabled="disabled" style="margin-left: 65px;" /> лв.
            </div>

            <div class="form-group">
                Крайна цена: <input asp-for="TotalPrice" class="prices-fields" disabled="disabled" style="margin-left: 113px;" /> лв.
            </div>
            <div class="form-group" id="expressAlert" style="font-size: 20px; color: red; display:none;">
                Експресна поръчка!
            </div>
        </div>

        <br />

        <table class="table table-condensed table-hover border">
            <thead>
                <tr>
                    <th rowspan="2" style="min-width: 500px;">Материали</th>
                    <th rowspan="2" style="min-width: 60px;">Цена</th>
                    <th rowspan="2" style="min-width: 50px;">Дължина, m</th>
                    <th rowspan="2" style="min-width: 50px;">Широчина, m</th>
                    <th rowspan="2" style="min-width: 60px;">Бр</th>
                    <th rowspan="2" style="min-width: 100px;">Квадратура</th>
                    <th rowspan="2">Цена на материала, лв </th>
                    <th colspan="4" style="min-width: 180px;">Кантиране</th>
                    <th rowspan="2">Цена на кантирането, лв</th>
                </tr>
                <tr>
                    <th style="min-width: 40px;">H</th>
                    <th style="min-width: 40px;">H</th>
                    <th style="min-width: 40px;">L</th>
                    <th style="min-width: 40px;">L</th>
                </tr>
            </thead>
            <tbody> 
                @for (int i = 0; i < 12; i++)
                {
                    <tr>
                        <td>
                            <div class="form-group">
                                <select asp-for="OrderedMaterials[i].MaterialName" onchange="insertPrice(@i); enableMaterialfields(@i, value);" class="form-control" />
                                    <option value="0"></option>
                                    @foreach (var material in Model.Materials)
                                    {
                                        <option value="@material.Id">@material.Name</option>
                                    }
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <select asp-for="OrderedMaterials[i].MaterialPrice" disabled="disabled" class="form-control" />
                                <option></option>
                                @foreach (var material in Model.Materials)
                                {
                                    <option value="@material.Id">@material.Price</option>
                                }
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input asp-for="OrderedMaterials[i].MaterialLength" class="form-control" onchange="calculateMaterialPrice(@i);" disabled="disabled" />
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input asp-for="OrderedMaterials[i].MaterialHeight" class="form-control" onchange="calculateMaterialPrice(@i);" disabled="disabled" />
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input asp-for="OrderedMaterials[i].MaterialQty" class="form-control" onchange="calculateMaterialPrice(@i); calculateEdgePrice(@i);" disabled="disabled" />
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input asp-for="OrderedMaterials[i].MaterialQuadrature" class="form-control" disabled="disabled" />
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input asp-for="OrderedMaterials[i].MaterialTotalPrice" class="form-control" disabled="disabled" />
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <select asp-for="OrderedMaterials[i].MaterialEdgeH1" class="form-control" onchange="calculateEdgePrice(@i);" disabled="disabled" />
                                <option value="0"></option>
                                @foreach (var edge in Model.Edges)
                                {
                                    <option value="@edge.Price" price="@edge.Price">@edge.Height</option>
                                }
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <select asp-for="OrderedMaterials[i].MaterialEdgeH2" class="form-control" onchange="calculateEdgePrice(@i);" disabled="disabled" />
                                <option value="0"></option>
                                @foreach (var edge in Model.Edges)
                                {
                                    <option value="@edge.Price">@edge.Height</option>
                                }
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <select asp-for="OrderedMaterials[i].MaterialEdgeL1" class="form-control" onchange="calculateEdgePrice(@i);" disabled="disabled" />
                                <option value="0"></option>
                                @foreach (var edge in Model.Edges)
                                {
                                    <option value="@edge.Price">@edge.Length</option>
                                }
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <select asp-for="OrderedMaterials[i].MaterialEdgeL2" class="form-control" onchange="calculateEdgePrice(@i);" disabled="disabled" />
                                <option value="0"></option>
                                @foreach (var edge in Model.Edges)
                                {
                                    <option value="@edge.Price">@edge.Length</option>
                                }
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input asp-for="OrderedMaterials[i].MaterialEdgeTotalPrice" class="form-control" disabled="disabled" />
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <br />

        <div class="mb-3" style="width: 300px;">
            <input class="btn btn-success mb-2 w-100 p-3 fw-bolw" type="submit" value="Създаване на заявка" style="font-weight: bold;font-size: larger;" />
        </div>
    </form>
</div>

<script src="~/js/neworder.js"></script>