@model IEnumerable<AllEdgesViewModel>;
@{
    ViewBag.Title = "Селектирани кантове";
}

<h2 class="text-center">@ViewBag.Title: @Model.Count()</h2>
<hr />

<div class="text-center row">
    @foreach (var e in Model)
    {
        <div class="card col-4" style="width: 20rem; ">
            <div class="card-body">
                <h5 class="card-title mt-1">@e.Height</h5>
                <p class="mb-0"><span class="fw-bold">Височина: </span>@e.Height</p>
                <p class="mb-0"><span class="fw-bold">Широчина: </span>@e.Length</p>
                <p class="mb-0"><span class="fw-bold">Цена: </span>@e.Price</p>
            </div>
            <form class="input-group-sm " asp-controller="Edge" asp-action="Deselect" asp-route-id="@e.Id">
                <input type="submit" value="Деселектиране на кант" class="fs-6 btn btn-warning mb-3 w-100 p-3 fw-bold" />
            </form>            
        </div>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}